In [1]:
#import libraries
import pandas as pd
import sys

In [2]:
print("Python version "+sys.version)
print("Pandas version "+pd.__version__)

Python version 3.5.2 |Anaconda 4.2.0 (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)]
Pandas version 0.18.1

In [4]:
#our small data set
d={'one':[1,1,1,1,1],
   'two':[2,2,2,2,2],
   'letter':['a','a','b','b','c']}
#crate dataframe
df=pd.DataFrame(d)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [9]:
#crate group object
one=df.groupby('letter')

#apply sum function
one.sum()

        one  two
letter
a         2    4
b         2    4
c         1    2

In [10]:
letterone=df.groupby(['letter','one']).sum()
letterone

            two
letter one
a      1      4
b      1      4
c      1      2

In [11]:
letterone.index

MultiIndex(levels=[['a', 'b', 'c'], [1]],
           labels=[[0, 1, 2], [0, 0, 0]],
           names=['letter', 'one'])

In [12]:
#you may want to not have the columns you are grouping by become your index
#this can be easily achieved as shown below
letterone=df.groupby(['letter','one'],as_index=False).sum()
letterone

  letter  one  two
0      a    1    4
1      b    1    4
2      c    1    2

In [13]:
letterone.index

Int64Index([0, 1, 2], dtype='int64')